.album {
  min-height: 50rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33%;
  padding: 16px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #efefef;
}

.card > img {
  margin-bottom: 10px;
  border-radius: 100px;
}

.card-text {
  margin-top: 10px;
  font-size: 85%;
}